@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');


body{
	padding: 2px;
}

h1{
	font-family: 'Inspiration', cursive;
	font-style: normal;
	text-align: left;
	float: left;
	font-weight: 400;
	font-size: 62px;
	line-height: 24px;
	padding-left: 80px;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #DA7C4E;
}

h2, h3, h4, h5, h6{
	font-family: 'Inria Sans';
}

h2{
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 43px;
	text-align: center;
justify-content: center;
	padding: 20px;	
}
h3{
	font-weight: 700;
	font-size: 22px;
	line-height: 64px;
	float: right;
	padding-right: 4px;
	top: 90px;	
} 
h4{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
h5{
	text-align: center;
	font-weight: lighter;
}
p{
	font-family: 'Inria Sans';
	font-style: normal;
	font-weight: 200;
	font-size: 22px;
	line-height: 32px;
}

p a{
	text-decoration: underline;
}
#heading{
	margin-bottom: 30px;
}

#first{
	width: 98%;
	height: auto;
	top: 20px;
	margin-top: 20;
	margin-bottom: 2px;
	text-align: center;
	margin-left: 55px;
	}

#main{
	width: 100%;
}
#sidebar{
	width: 100%;
	text-align: center;
}

.article{
	font-size: 16px;
	margin-top: 2px;
	padding: 20px;

}


footer{
	padding-top: 219px;
}

footer hr{
	margin: 0;
	height: 1px;
	background-color: #c9c9c9;
	color:#c9c9c9; 
}

/*
#sec{
	text-align: center;
	padding-left: 90px;
	padding-right: 90px;
	margin-top: 25px;
}
*/

/*HOME.HTML SPECIFIC CSS*/
.container{
	margin-top: 34px;
}
.card img:hover{
	color: azure;
}
.card img{
	
}

#row3 , i{
	text-decoration: none;
	color: #DA7C4E;
}
.row3 p{
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 15px;
}

/* ABOUT.HTML SPECIFIC*/
.content{
	padding: 24px;
}
.content p{
	padding-bottom: 15px;
}

/*MOTHERHOOD.HTML*/

.zigzag{
}
.content2{
	margin-top: 120px;
	align-content: center;
	padding: 34px;

	
}
.content2 img{
	width: 100%;
	height: auto;
}

.content2 p{
	padding: 12px;
}
/*

#challenges img{
	width: 35%;
	float: left;
}
#challenges p{
	width: 63%;
	float: right;
}


#paternity img{
	width: 35%;
	float: right;
}
#paternity p{
	width: 63%;
	float: left;

}

#asking img{
	width: 35%;
	float: left;
	
}
#asking p{
	width: 63%;
	float: right;
	
}
*/


/*PLAYTIME*/
.title1{
	padding-top: 38px;
	text-align: center;
}
.main2 img{
	width: 100%;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	
}
.main2 p{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	text-align: center;
}
.games{
	padding-top: 20px;
}
.games img{
	border: 1px solid black;
}
.block{
	margin-left: auto;
	margin-right: auto;
	margin: 8px;
	
	
}
#w3-green img{
	width: 25%;
	object-fit: fill;
}
#w3-blue img{
	width: 100%;
}

/* RESOURCES*/
.main3{
	margin-top: 10px;
	
}
.main3 p{
	padding: 20px;
	margin-bottom: 8%;
	
}
.main3 img{
	object-fit: cover;
	width: 1280px;
	height: 450px;
	text-align: center;
	margin-left: 55px;
}
.spacebar{
	background-color: #808860;
	width: 100%;
	height: 227px;
	margin-top: 120px;

}

.spacebar h2{ 
	padding-top: 100px;
}

.factors{
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	height: 200px;
	
}
.pro{
	float: left;
	padding: 20px;
	width: 50%;
	text-align: center;
}
.con{
	float: right;
	padding: 20px;
	width: 50%;
	text-align: center;
}
ul{
	font-weight: normal;
	text-align: left;
}
.cap{
	width: 90%;
	height: 80px;
	padding-top: 250px;
	text-align: left;
}
.cap a{
	color: darkgoldenrod;
}

/*FOOD HTML*/
.arrow{
	width: 100%;
	padding: 10px;
}
.arrow i{
	color: black;
}

#iright{
	float: right;
	
}



